# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables
.env

# Python egg metadata
*.egg-info/
dist/
build/

# Database files
*.sqlite3

# VSCode settings
.vscode/
.cursorrules
# OS files
.DS_Store
Thumbs.db

unified-ion-463106-v9-021b48db7f17.json

# Logs
*.log

# Alembic migration files (optional, if generated)
alembic/versions/

# Test cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# MyPy
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local config
logging.ini
